body {
  font-family: 'Roboto', sans-serif;
  padding-top: 90px;
}
/* DEBUG */
.hero {
  background: yellow;
}

.innovative {
  background: purple;
}

.design {
  background: pink;
}

.service {
  background: azure;
}

.development {
  background: pink;
}

.started {
  background: lightgrey;
}

.box {
  height: 200px;
  width: 100%;
  padding: 10px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.grey {
  background: lightgrey;
}

.aqua {
  background: aqua;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}
