body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-top: 75px;
}
/* TIPOGRAPHY */
h1{
  font-size: 52px;
  color: #ffffff;
}

/* HEADER */
header .container {
    position: relative;
    padding-right: 30px;
}

header .navbar-brand img {
  width: 180px;
  margin-right: 50px;
}

header .navbar-default {
  background: #ffffff;
  height: 75px;
}

header .navbar-nav {
  padding-top: 10px;
}

header .navbar-collapse .navbar-nav a {
  color: #031c4e;
  transition: color 0.4s;
}

header .navbar-collapse .navbar-nav a:hover {
  color: #006aff;
}

header .navbar-collapse .navbar-nav .btn {
  padding: 10px 15px 10px;
  transform: translateY(5px);
  color: #006aff;
  border: 1px solid #006aff;
  transition: background 0.4s;
}

header .navbar-collapse .navbar-nav .btn:hover {
  background: #006aff;
  color: #ffffff;
}

.navbar-toggle {
  background: #ffffff;
  border: none;
}

header .navbar .navbar-toggle .icon-bar {
  background: #006aff;
  transition: background 0.4s;
}

header .navbar .navbar-toggle:hover {
  background: rgba(58, 138, 255, 0.5);

}
/* SECTION HERO */
.hero {
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  padding: 50px 0;
}

.hero h1 {
  max-width: 600px;
}

.hero p {
  color: #bbcdff;
  line-height: 32px;
  font-weight: 400;
  font-size: 22px;
  max-width: 600px;
  margin: 20px 0;
}
/* hero form */
.background-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0;
}

.background-form h3 {
  color: #031c4e;
}

.background-form h4 a {
  color: #006aff;
  font-size: 22px;
}

.background-form h4 a:hover {
  color: #98e4fc;
}

.background-form p {
  font-size: 16px;
  color: #031c4e;
}

.background-form a {
  text-decoration: none;
}

.form-group ::placeholder {
  font-weight: 400;
}

.background-form .form-control {
  height: 48px;
  width: 95%;
  margin: 0 auto;
}

.background-form .form-control:focus {
  border: 1px solid #006aff;
  box-shadow: none;
}
/* hero form buttons */
.btn-custom-blue {
  color: #ffffff;
  background: #579aff;
  border-radius: 4px;
  border: none;
  width: 95%;
  margin: 10px auto 0;
  padding: 10px 5px;
  transition: background 0.4s;
}

.btn-custom {
  color: #626262;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 5px #ccc;
  width: 95%;
  margin: 10px auto 0;
  position: relative;
  padding: 10px 5px;
  transition: background 0.4s;
}

.img-custom {
  height: 20px;
  position: absolute;
  top: 50%;
  left:5%;
  transform: translateY(-50%  );
}
/* hero hover */
.btn-custom-blue:hover {
  background: rgba(87, 154, 255, 0.5);
}

.btn-custom:hover {
  background: rgba(87, 154, 255, 0.5);
}

.background-form a:hover {
  color: #006aff;
}
/* SECTION INNOVATIVE */
.innovative {
  background: #f3f5f9;
  padding: 50px 0 50px;
}

.innovative h3 {
  color: #6f7b97;
  margin: 30px 0;
}

.innovative ul {
  padding: 0;
}

.innovative li {
  display: inline-block;
  width: calc((100% / 6) - 10px);
  padding: 10px;

}

.innovative li img {
  width: 100%;
  vertical-align: middle;
}

.innovative .container .row:last-child a {
  color: #006aff;
  font-size: 18px;
  font-weight: 400;
  line-height: 100px;
}

.innovative .container .row:last-child a:hover {
  color: #98e4fc;
  text-decoration: none;
}

.innovative .container .row:last-child i {
  font-size: 10px;
  vertical-align: middle;
  margin-left: 10px;
}
/* SECTION DEPLOY */
.deploy {
  color: #5c6a88;
  padding: 50px 0 50px;
}

.deploy h2 {
  font-size: 30px;
  color: #031c4e;
  margin-top: 50px;
}

.deploy h3 {
  color: #031c4e;
}

.deploy .text-center p {
  font-size: 18px;
  margin: 20px 0 50px;
}

.deploy ul {
  margin-bottom: 30px;
}

.deploy li {
  list-style: none;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.deploy li a {
  line-height: 50px;
  font-size: 18px;
  font-weight: 400;
  color: #5c6a88;
}

.deploy h4 {
  color: #031c4e;
  margin: 20px 0 10px;
}

.deploy h4 ~ p {
  font-weight: 400;
}

.deploy li:hover {
  border-left: 1px solid #006aff;
}

.deploy li a:hover {
  text-decoration: none;
  color: #006aff;
}
/* SECTION DESIGN */
.design {
  background: #f3f5f9;
  padding: 50px 0 50px;
}

.design h2 {
  color: #031c4e;
}

.design h2 ~ p {
  color: #5c6a88;
  font-size: 18px;
  font-weight: 400;
}

.design .utility-slider a {
  color: #031c4e;
}

.design .utility-slider a:hover {
  color: #006aff;
  text-decoration: none;
}

.design .slider img {
  width: 600px;
}

.design .slider {
  display: inline-block;
  margin: 30px;
}

.design .pallini a {
  color: #006aff;
  text-decoration: none;
}

.design .pallini i:hover {
  background: #006aff;
  border-radius: 50%;
}
/* SECTION FEATURES */
.features {
  color: #031c4e;
  padding: 50px 0 50px;
}
.features h2 {
  margin-bottom: 30px;
}

.features p {
  font-weight: 400;
  color: #5c6a88;
}

.features [class*='col-'] {
  margin: 20px 0;
}

.features a {
  color: #006aff;
}

.features a:hover {
  text-decoration: none;
  color:  #98e4fc;
}
/* SERVICE */
.service {
  background-image: linear-gradient(#0047c5, #001e9a);
  color: #ffffff;
  padding: 50px 0 50px;
}

.features h2 {
  margin-bottom: 30px;
}

.service .list-group-item {
  position: relative;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.list-group li:last-child {
  border: none;
}

.service .list-group-item span {
  padding-left: 50px;
  color:#bac5e6;
}

.service .list-group-item a {
  color: #00d5d2;
  position: absolute;
  right: 10px;
}

.service .list-group-item a:hover {
  color: #006aff;
  text-decoration: none;
}

/* DEBUG */
.development {
  background: #f3f5f9;
  padding: 50px 0 50px;
  color: #031c4e;
}

.development h2 {
  margin-bottom: 50px;
}

.development .utility-slider a {
  color: #031c4e;
}

.development .utility-slider a:hover {
  color: #006aff;
  text-decoration: none;
}

.development .slider {
  background: #ffffff;
  width: 600px;
}

.development .slider {
  display: inline-block;
  margin: 30px;
}

.development .pallini a {
  color: #006aff;
  text-decoration: none;
}

.development .pallini i:hover {
  background: #006aff;
  border-radius: 50%;
}

.started {
  background: lightgrey;
}

.credits {
  background: yellow;
}

.box {
  height: 200px;
  width: 100%;
  padding: 10px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.grey {
  background: lightgrey;
}

.aqua {
  background: aqua;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Mostra hamburger */
  .navbar-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
  }
  /* Nascondi contenitore menu */
  .navbar-collapse {
      display: none;
  }
  /* Dimensione Immagine Logo */
  header .navbar-brand img {
    width: 200px;
  }
  /*section  Deploy */
  .deploy ul {
    padding-left: 0;
  }
  /* section Design */
  .design .slider img {
    width: 450px;
  }
  .design .utility-slider i {
    font-size: 20px;
  }
  /* section Development */
  .development .slider {
    width: 450px;
  }
}
/* MOBILE */
@media screen and (max-width: 768px) {
  .navbar-toggle {
      right: 0;
      top: 10px;
  }
  /* Dimensione Immagine Logo */
  header .navbar-brand img {
    width: 220px;
  }
  /* Section Hero */
  .hero .fontsize p {
    line-height: 30px;
    font-size: 26px;
  }
  .hero .fontsize h1,
  .hero .fontsize p {
    margin: 30px 0;
  }
  /* Section Innovative */
  .innovative ul li {
    width: calc((50%) - 10px);
    padding: 0 10px;
  }
  /* section Deploy */
  .deploy ul {
    padding-left: 0;
  }
  /* section Design */
  .design .slider img {
    width: 300px;
  }
  .design .utility-slider i {
    display: none;
  }
  /* section Development */
  .development .slider {
    width: 300px;
  }
}
